<% post.comments.each do |comment| %>
  <div class="comment">
    <%= turbo_frame_tag "comment-like-#{comment.id}" do %>
      <%= button_to "", post_comment_likes_path(comment.post_id, comment.id), params: { likeable_type: 'Comment' }, class: "post-actions-like" %>
    <% end %>
    <span class="comment-text">
    <span class="comment-author"><%= comment.user.username %></span>
    <%= comment.body %>
    </span>
  </div>
<% end %>